{% load compress i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}scss/main.scss" type="text/x-scss" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-sass/bootstrap.scss" type="text/x-scss" charset="utf-8">
    {% endcompress %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a href="#">{% trans "Home" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="span2">
        Menu
    </div>
    <div class="span10">
    {% block content %}

    {% endblock %}
    </div>
    </div>
    </div>
</body>
</html>